@model InformatikNet.Models.CreateMeetingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skapa nytt möte</h2>
@using (Html.BeginForm("CreateMeeting", "Meeting", FormMethod.Post))
{

}
<div class="listboxOFhvn">
    <div>
        @Html.ListBoxFor(model => model.Users, new MultiSelectList(Model.Users, "Id", "Email"), new { size = "10", width = "1000px", @class = "listboxMeeting", id = "Users" })
    </div>
    <div>
        <input class="buttonUpDown btn-primary" id="btnAdd" type="button" value=" ↓ " onclick="addItem()" />
        <input class="buttonUpDown btn-primary btn-group-sm" id="btnRemove" type="button" value=" ↑ " onclick="removeItem()" />
    </div>
    <div>
        @Html.ListBoxFor(m => m.ReciverIds, new MultiSelectList(Model.Recievers, "Id", "Email", Model.ReciverIds), new { size = "10", @class = "listboxMeeting", id = "Recievers" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
</div>
<input id="subm" name="subm" type="button" value="bock"/>


<script>
    function addItem() {
        $("#Users option:selected").appendTo("#Recievers");
        $("#Recievers option").attr("selected", false);
    };

    function removeItem() {
        $("#Recievers option:selected").appendTo("#Users");
        $("#Users option").attr("selected", false);
    };

</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    
    $('#btnAdd').click(function () {
        $('#Recievers').prop('selected', true);
    });

  
</script>