@model InformatikNet.Models.CreateMeetingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skapa nytt möte</h2>
<br />

@using (Html.BeginForm("CreateMeeting", "Meeting", FormMethod.Post, htmlAttributes: new { onsubmit = "validateForm(event)" }))
{

    <div class="form-group">
       <h5>Namn på mötet:</h5>
        <div>
            @Html.TextBoxFor(m => m.Title, new {  })
        </div>
    </div>
    <br />

<div class="listboxOFhvn">
    <div>
        @Html.ListBoxFor(model => model.Users, new MultiSelectList(Model.Users, "Id", "Email"), new { size = "10", width = "1000px", @class = "listboxMeeting", id = "Users" })
    </div>
    <div>
        <input class="buttonUpDown btn-primary" id="btnAdd" type="button" value=" Lägg till deltagare ↓ " onclick="addItem()" style="width:auto; margin-left:auto" />
        <input class="buttonUpDown btn-primary btn-group-sm" id="btnRemove" type="button" value=" Ta bort deltagare ↑ " onclick="removeItem()" style="width:auto; margin-left:auto"/>
    </div>
    <div>
        @Html.ListBoxFor(m => m.ReciverIds, new MultiSelectList(Model.Recievers, "Id", "Email", Model.ReciverIds), new { size = "10", @class = "listboxMeeting", id = "Recievers" })
    </div>
</div>

<br />
<p>Bekräfta deltagarna:  <input type="checkbox" value="Bekräfta deltagare" id="CheckUsers" style="-webkit-transform: scale(1.5); margin-left: 1%;" /> </p> 

<input id="subm" name="subm" type="submit" value="Skapa" style="display:none;"/>
}

