@model InformatikNet.Models.CreateMeetingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skapa nytt möte</h2>

<div id="listboxOFhvn">
    <div>
        @Html.ListBoxFor(model => model.Users, new MultiSelectList(Model.Users, "Id", "Email"), new { size = "10" , width = "1000px" })
    </div>
    <div>
        <input id="btnAdd" type="button" value=" > " onclick="addItem();" />
        <input id="btnRemove" type="button" value=" < " onclick="removeItem();" />
    </div>
    <div>
        @Html.ListBoxFor(model => model.Recievers, new MultiSelectList(Model.Recievers, "Id", "Email"), new { size = "10" })
    </div>
</div>





<script type="text/javascript">
    function addItem() {
    $("#Users option:selected").appendTo("#Recievers");
    $("#Recievers option").attr("selected", false);
    }

    function removeItem() {
    $("#Recievers option:selected").appendTo("#Users");
    $("#Users option").attr("selected", false);
    }

</script>