@model InformatikNet.Models.FileViewModel

@{
    ViewBag.Title = "Files";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/sv.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<h2>Sök filer</h2>

<div class="col-md-12">
    <div class="col-md-6">
    @using (Html.BeginForm("Files", "File"))
    {
    <h5>Välj förslagstider:</h5>
    <div class='input-group date' id='datetimepicker6' style="width: 250px">
        @Html.TextBoxFor(m => m.startDate, htmlAttributes: new { @class = "form-control", style = "width: 250px", Value = DateTime.Now.ToString() })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <br />
    <div class='input-group date' id='datetimepicker7' style="width: 250px">
        @Html.TextBoxFor(m => m.endDate, htmlAttributes: new { @class = "form-control", style = "width: 250px", Value = DateTime.Now.ToString() })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <br />
    <input type="submit" value="Hämta" class="btn btn-primary btn-large"/>
    }
    </div>

    @if (Model.Posts.Count > 0)
    {
    <div class="col-md-6" style="border:groove 2px; border-radius: 4px;  padding: 2%; margin-bottom: 5%;">
        @foreach (var post in Model.Posts)
        {
        <tr>
            <td>
                <p>@Html.ActionLink(post.FileName, "Downloadfile", "Post", new { id = post.Id }, new { @class = "btn btn-primary btn-xs" })</p>

            </td>
        </tr>
        }
    </div>
        }

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $('#datetimepicker6').datetimepicker();
        });
    });

    $(document).ready(function () {
        $(function () {
            $('#datetimepicker7').datetimepicker();
        });
    });


</script>
