@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    
}
else
{
    <div style="text-align: center; margin-top: 10%; margin-bottom: 10%;">
        <h1>
            Du måste logga in för att se innehållet!
        </h1>
        <br />
        @Html.ActionLink("Logga in", "Login", "Account", null, new { @class = "btn btn-primary btn-large" })
    </div>
}